.container1{
    display: grid;
    width: 470px;
    height: 800px;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    grid-template-rows: 6% 20% 5% 10%;
    grid-gap: 1%; 
    grid-template-areas:
      "tl tl tm tm tr tr tr"
      "tl tl tm tm tr tr tr"
      "tl tl tm tm tr tr tr";
  }
  .top{
  grid-area: top;    
  }
  .tl{
  grid-area: tl;    
  }
  .tm{
    grid-area: tm;    
    }
    .tr{
        grid-area: tr;    
        }
    .m{
     margin-top: 10%;   
    }



    /*
    reviews
    */
    #reviews {
      font-family: Arial;
      margin: 0 auto; /* Center website */
      max-width: 800px; /* Max width */
      padding: 20px;
    }
    h1 {
      text-align: center;
      margin-bottom: 50px;
    }
    .averagerating {
        text-align: center;
    }
    .heading {
      margin-top: 10px;
      font-size: 0.78em;
      margin-right: 25px;
    }
    
    .fa {
      font-size: 25px;
    }
    
    .checked {
      color: orange;
    }
    
    /* Three column layout */
    .side {
      float: left;
      width: 15%;
      margin-top: 10px;
    }
    
    .middle {
      float: left;
      width: 70%;
      margin-top: 10px;
    }
    
    /* Place text to the right */
    .right {
      text-align: right;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* The bar container */
    .bar-container {
      width: 100%;
      background-color: #f1f1f1;
      text-align: center;
      color: white;
    }
    
    /* Individual bars */
    .bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
    .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
    .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
    .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
    .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
    
    /* Responsive layout - make the columns stack on top of each other instead of next to each other */
    @media (max-width: 400px) {
      .side, .middle {
        width: 100%;
      }
      /* Hide the right column on small screens */
      .right {
        display: none;
      }
    }
    
    .customer-reviews {
      border: 2px solid lightgrey;
      border-radius: 7px;
      margin: auto;
      margin-bottom: 10px;
      padding: 20px;
      width: 85%;
      height: 20%;
      display: grid;
      grid-template-rows: 25% 50% 25%;
      grid-template-areas:
        "starrating"
        "sentence"
        "reviewer"
    }
    .star {
      grid-area: starrating;
    
      margin-top: -20px;
    }
    .startext {
      font-size: 2em;
      color: red;
    }
    .reviewtext {
      grid-area: sentence;
      margin-top: -10px;
      line-height: 25px;
    }
    .whoposted {
      grid-area: reviewer;
      margin-top: 10px;
    }
    .name {
      float: left;
      margin-left: 10px;
      font-weight: bold;
      font-size: 1.2em;
    }
    .timeposted{
      float: right;
      color: grey;
      font-weight: bold;
    }
    
    body {
      margin: 0;
  }
  
  
  /* FOR OUR BOTTOM NAV BAR */
  .nav {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 75px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      background-color: #84d1df;
      display: flex;
      overflow-x: auto;
  }
  .navlink {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      width: 50px;
      overflow: hidden;
      white-space: nowrap;
      font-family: sans-serif;
      font-size: 13px;
      color: white;
      text-decoration: none;
      transition: background-color 0.1s ease-in-out;
  }
  .navlink:hover {
      background-color: #84d1df;
      color:dimgrey;
  }
  
  .navlink.active {
      color: dimgrey;
  }
  
  .nav_icon {
      font-size: 30px;
  }
   